body {
    font-family: Arial, sans-serif;
}

#posts-container {
    max-width: 800px;
    margin: 40px auto;
}

.post {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.post-body {
    font-size: 16px;
}
